
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body{
  background-color: #121212;
  color: #fff;
}
.left{
  width: 20vw;
  padding: 10px;
}

.home ul li{
  padding-top: 29px;
  display: flex;
  width: 18px;
  list-style: none;
  gap: 15px;
  font-weight: bold;
}
/* .home ul li img{
  width: 20px;
} */
.home{
  padding: 10px;
}
.library{
  margin: 10px 5px;
  min-height: 80vh;
  position: relative;
}
.heading{
  padding-top: 19px;
  display: flex;
  width: 90%;
  gap: 15px;
  font-size: 15px;
}
.heading img{
  width: 20px;
}
.footer{
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  color: grey;
  gap: 10px;
  position: absolute;
  bottom: 2px;
}
.footer a {
  color: grey;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(34,34,34);
}

.right{
  width: 75vw;
  margin: 10px;
}